<!DOCTYPE html>
<html>
	<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/src/css/loader.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script type="text/javascript" src="src/js/ogl-browse.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>Latin-Texts-OCR Browser</title>
    <style>
      li p {
        margin: 0;
      }
    </style>
	</head>
	<body>
    <div id="content" class="container">
      <h1>Latin-Texts OCR Browser</h1>
      <div style="float:right;padding-right:1em"><iframe src="{{ site.baseurl }}/github-btn.html?user=ryanfb&repo=latin-texts-ocr&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="78" height="30"></iframe></div>
      <p class="lead">Browse links and metadata for OCR in <a href="https://github.com/ryanfb/latin-texts-ocr" target="_blank">the latin-texts-ocr repository on GitHub.</a></p>
      {{ content }}
    </div>
	</body>
</html>
