<!DOCTYPE html>
<html>
	<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/src/css/loader.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script type="text/javascript" src="src/js/ogl-browse.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>OpenGreekAndLatin OCR Browser</title>
    <style>
      li p {
        margin: 0;
      }
    </style>
	</head>
	<body>
    <div id="content" class="container">
      <h1>OpenGreekAndLatin OCR Browser</h1>
      <p class="lead">Browse links and metadata for OCR repos by OpenGreekAndLatin on GitHub.</p>
      {{ content }}
    </div>
	</body>
</html>
